In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.animation import FuncAnimation
from matplotlib.ticker import FuncFormatter

In [44]:
df = pd.read_csv('../data/ex3.csv')
names = {
    'SAU': 'Saudi Arabia',
    'TUR': 'Turkey',
    'AFG': 'Afghanistan',
    'IRQ': 'Iraq',
    'IRN': 'Iran',
    'TKM': 'Turkmenistan',
    'SYR': 'Syria',
}
df

,Series Name,Series Code,Country Name,Country Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,"Population, total",SP.POP.TOTL,"Iran, Islamic Rep.",IRN,21388806,21983622,22605050,23259094,23948624,24667026,...,78458928,79961672,81790841,83306231,84505076,85617562,86564202,87290193,87923432,88550570
1,"Population, total",SP.POP.TOTL,Iraq,IRQ,7084678,7260714,7481832,7735824,7997655,8270544,...,35481800,36746488,37757813,38697943,39621162,40590700,41563520,42556984,43533592,44496122
2,"Population, total",SP.POP.TOTL,Saudi Arabia,SAU,4165563,4306048,4458516,4621655,4795130,4978922,...,31482498,32125564,32749848,33416270,34193122,35018133,35827362,35997107,35950396,36408820
3,"Population, total",SP.POP.TOTL,Turkiye,TUR,27510980,28255002,29033647,29827877,30612821,31374536,...,76147624,77181884,78218479,79277962,80312698,81407204,82579440,83384680,84147318,84979913
4,"Population, total",SP.POP.TOTL,Afghanistan,AFG,8622466,8790140,8969047,9157465,9355514,9565147,...,31541209,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462,41128771
5,"Population, total",SP.POP.TOTL,Turkmenistan,TKM,1602052,1658569,1716868,1776387,1836621,1897095,...,5560095,5663152,5766431,5868561,5968383,6065066,6158420,6250438,6341855,6430770
6,"Population, total",SP.POP.TOTL,Syrian Arab Republic,SYR,4610712,4751534,4894995,5045245,5202846,5368451,...,21495821,20072232,19205178,18964252,18983373,19333463,20098251,20772595,21324367,22125249

In [45]:
df.drop(['Series Name', 'Series Code', 'Country Name'], inplace=True, axis=1)

In [46]:
df.set_index('Country Code', inplace=True)

In [47]:
df

,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],1966 [YR1966],1967 [YR1967],1968 [YR1968],1969 [YR1969],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
Country Code,,,,,,,,,,,,,,,,,,,,,
IRN,21388806,21983622,22605050,23259094,23948624,24667026,25398700,26133341,26875302,27643685,...,78458928,79961672,81790841,83306231,84505076,85617562,86564202,87290193,87923432,88550570
IRQ,7084678,7260714,7481832,7735824,7997655,8270544,8553883,8848502,9156132,9476737,...,35481800,36746488,37757813,38697943,39621162,40590700,41563520,42556984,43533592,44496122
SAU,4165563,4306048,4458516,4621655,4795130,4978922,5173237,5381026,5604582,5844843,...,31482498,32125564,32749848,33416270,34193122,35018133,35827362,35997107,35950396,36408820
TUR,27510980,28255002,29033647,29827877,30612821,31374536,32172785,33026490,33884075,34721990,...,76147624,77181884,78218479,79277962,80312698,81407204,82579440,83384680,84147318,84979913
AFG,8622466,8790140,8969047,9157465,9355514,9565147,9783147,10010030,10247780,10494489,...,31541209,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462,41128771
TKM,1602052,1658569,1716868,1776387,1836621,1897095,1957557,2018024,2078581,2139557,...,5560095,5663152,5766431,5868561,5968383,6065066,6158420,6250438,6341855,6430770
SYR,4610712,4751534,4894995,5045245,5202846,5368451,5542003,5723306,5912715,6111364,...,21495821,20072232,19205178,18964252,18983373,19333463,20098251,20772595,21324367,22125249

In [48]:
df.columns = df.columns.map(lambda x: x[:4])
df = df.map(lambda x: x/1000000)

In [39]:
df.drop(['IRN', 'TUR'], axis=0, inplace=True)

In [49]:
df = df.T
df.to_csv('../data/ex3_clean2.csv')

In [50]:
df = pd.read_csv('../data/ex3_clean.csv')

In [51]:
df

    Years        IRQ        SAU        AFG       TKM        SYR
0    1960   7.084678   4.165563   8.622466  1.602052   4.610712
1    1961   7.260714   4.306048   8.790140  1.658569   4.751534
2    1962   7.481832   4.458516   8.969047  1.716868   4.894995
3    1963   7.735824   4.621655   9.157465  1.776387   5.045245
4    1964   7.997655   4.795130   9.355514  1.836621   5.202846
..    ...        ...        ...        ...       ...        ...
58   2018  40.590700  35.018133  36.686784  6.065066  19.333463
59   2019  41.563520  35.827362  37.769499  6.158420  20.098251
60   2020  42.556984  35.997107  38.972230  6.250438  20.772595
61   2021  43.533592  35.950396  40.099462  6.341855  21.324367
62   2022  44.496122  36.408820  41.128771  6.430770  22.125249

[63 rows x 6 columns]